<head>
<style>
h1 {
    text-shadow: 0 0 3px #FF0000;
}
</style>
</head>
<div class="row">
            <div class="col-lg-12">
                <h1>SMART HEALTH CARE LOGIN</h1>
                <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for this template are contained within the <code>half-slider.css</code>file.</p>
            </div>
        </div>