
<div class="row" ng-app="myapp">
    <div class="col-lg-12" ng-controller="tabController">
		
			</br>

			<ul class="nav nav-tabs nav-justified" >
			<li class="active">

			<a data-toggle="tab" href="#home">Home</a>
			<li><a data-toggle="tab" href="#update_disease">Update_disease</a></li>
			<li><a data-toggle="tab" href="#search">Search</a></li>
			<li><a data-toggle="tab" href="#update" ng-click="getDocData()">Update_Profile</a></li>
			<li><a data-toggle="tab" href="#change_password">Change_Password</a></li>
			</ul>
			<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
			  <div class="col-lg-10">
			  <h3>HOME</h3>
			  <p>WELCOME DOCTOR</p>
			  </div>
			</div>
			<div id="update_disease" class="tab-pane fade">
			  <h3>Menu 1</h3>
			  <p>ADD NEW SYMPTOM AND DISEASE</p>
			</div>
			<div id="search" class="tab-pane fade">
			  <h3>Menu 2</h3>
			  <p>SEARCH BOX</p>
			</div>
			



			<div id="update" class="tab-pane fade">
			  <div class="row">
			    <div class="col-lg-12">
			        <center>

			        <h2 class="page-header">Update Profile</h2>

					<form ng-submit="save()" >
			   		<table style="width:40%">
			   	
				   		<tr>
				   	
					   		<td><label><div class="form-group">NAME</div></label></td>
					    	<td><div class="form-group"><input type="password" class="form-control"  name="name" placeholder="Name" ng-model="data.name"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">USERNAME</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Username" ng-model="data.username" name="username"></div></td>
					  	
			  			</tr>
			  			<tr>
				
						    <td><label><div class="form-group">EMAIL</label></div></td>
						    <td><div class="form-group"><input type="email" class="form-control" placeholder="Email" ng-model="data.email" name="email"></div><td>
						  	
					  	</tr>

					  	<tr>
					  	<td><label>Gender</label></td>
					  	<td>
					  		<div class="form-group" style="width:160%">
					  		<select class="selectpicker" name="user_gender" >
				  			<option value="Male">MALE</option>
				  			<option value="Female">FEMALE</option>
				  			</select>
				  			</div>	  			
						</td>
			  			<tr>

			 	
						    <td><div class="form-group"><label>SPECIALTY</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Specialty" name="specialty"
						    ng-model="data.specialty"></div></td>
					  	
			  	
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>LOCATION</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Location" name="location"
						    ng-model="data.location"></div></td>
						  	</div>
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>NATIONALITY</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Nationality" name="nationality" ng-model="data.nationality"></div></td>
						  	</div>
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>QUALIFICATION</label></div></td>
						    <td><div class="form-group"><textarea class="form-control" rows="5" name="qualification" ng-model="data.qualification"></textarea></div></td>
						  	</div>
			  			</tr>
			  			</table>
						  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			    </center>
			   </div>
             </div>
			</div>
		<div id="change_password" class="tab-pane fade">
			  <div class="row">
			    <div class="col-lg-12">
			        <center>

			        <h2 class="page-header">Change Password</h2>

					<form ng-submit="change_password()" >
			   		<table style="width:38%">
			   	
				   		<tr>
				   	
					   		<td><label><div class="form-group">Password</div></label></td>
					    	<td><div class="form-group"><input type="text" class="form-control" placeholder="Password" ng-model="password.password1"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">Confirm Password</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="text" class="form-control" placeholder="Confirm Password" ng-model="password.password2"></div></td>
					  	
			  			</tr>
			  		</table>
			  		<button type="submit" class="btn btn-default">Submit</button>
			  	</form>
			  </center>
			 </div>
			</div>
		</div>

 	</div>
 </div>
 </div>
  