<div class="row">
    <div class="col-lg-12">
		
			</br>

			<ul class="nav nav-tabs nav-justified">
			<li class="active">

			<a data-toggle="tab" href="#home">Home</a>
			<li><a data-toggle="tab" href="#update_disease">Update_disease</a></li>
			<li><a data-toggle="tab" href="#search">Search</a></li>
			<li><a data-toggle="tab" href="#update">Update_Profile</a></li>
			</ul>
			<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
			  <div class="col-lg-10">
			  <h3>HOME</h3>
			  <p>WELCOME DOCTOR</p>
			  </div>
			</div>
			<div id="update_disease" class="tab-pane fade">
			  <h3>Menu 1</h3>
			  <p>ADD NEW SYMPTOM AND DISEASE</p>
			</div>
			<div id="search" class="tab-pane fade">
			  <h3>Menu 2</h3>
			  <p>SEARCH BOX</p>
			</div>
			<div id="update" class="tab-pane fade">
			  <h3>Menu 3</h3>
			  <p>UPDATE PROFILE</p>
			</div>
		
 	</div>
 </div>
 </div>