
<div class="row" ng-app="myapp">
            <div class="col-lg-12" ng-controller="login_route">

            	<center>

                <h1 style="color:'red'">SMART HEALTH CARE LOGIN</h1>
                <br>
                <form method="get" action="/patient/login">
                <button class="btn btn-primary btn-lg" class="btn btn-info" type="submit">Log In As Patient</button>
                </form>
                <br>
                <h3>"OR"</h3>
                <br>
                <form method="get" action="/doctor/login">
                <button class="btn btn-primary btn-lg btn-info" class="btn btn-info" type="submit">Log In As Doctor</button>
                </form>
                </center>
            </div>
</div>
