<div class="row" ng-app="myadmin">
    <div class="col-lg-12" ng-controller="adminController">
		
			</br>

			<ul class="nav nav-tabs nav-justified">
			<li class="active" >
			<a data-toggle="tab" href="#home" ng-init="newDoctor()">Home</a></li>

			
			<li><a data-toggle="tab" href="#manage_doctor" ng-click="getDoctorData()">Manage Doctor </a></li>
			<li><a data-toggle="tab" href="#manage_patient" ng-click="getPatientData()">Manage Patient </a></li>
			<li><a data-toggle="tab" href="#upload_hospital" >Upload Hospital </a></li>
			<li><a data-toggle="tab" href="#change_password">Change Password </a></li>
			</ul>
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
				    <center>

			        <h2 class="page-header" style="color:red">New Registered Doctor</h2>
			        </center>
			     <div class="w3-card-12" style="width:95%;padding:20px;margin:30px">

			       <div class="input-group" style="width:40%">
			      <input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
			      <div class="input-group-btn">
			        <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
			      </div>
			    </div>
			    </br>
			    <center>
			     <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Name</th>
					      <th>Username</th>
					      <th>Email</th>
					      <th>Action</th>

					    </tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in newDoctor |filter:searchDoctor">
				        <td>{[{data.name}]}</td>
				        <td>{[{data.username}]}</td>
				        <td>{[{data.email}]}</td>
				        <td><button type="button" class="btn btn-success" ng-click="approve(data)">Approve</button>
				      <button type="button" class="btn btn-danger" ng-click="deleteNewDoctor(data)">Delete</button></td>
				      </tr>
				      
				    </tbody>
				  </table>
				</center>
				</div>
				
				</div>
				
				
				<div id="manage_doctor" class="tab-pane fade">
				
			      <center>

			        <h2 class="page-header" style="color:red">Manage Doctor</h2>
			        </center>
			        
			     <div class="w3-card-4" style="width:95%;padding:20px;margin:30px">   
			     
			       <div class="input-group" style="width:40%">
			      <input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
			      <div class="input-group-btn">
			        <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
			      </div>
			    </div>
			    </br>
			       <center>
				  <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Name</th>
					      <th>Username</th>
					      <th>Email</th>
					      <th>Location</th>
					      <th>Nationality</th>
					      <th>Specialty</th>
					      <th>Qualification</th>
					      <th>Action</th>

					    </tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in doctorData |filter:searchDoctor">
				        <td>{[{data.name}]}</td>
				        <td>{[{data.username}]}</td>
				        <td>{[{data.email}]}</td>
				        <td>{[{data.location}]}</td>
				        <td>{[{data.nationality}]}</td>
				        <td>{[{data.specialty}]}</td>
				        <td>{[{data.qualification}]}</td>
				        <td><button type="button" class="btn btn-danger" ng-click="deleteDoctor(data)">DELETE</button></td>
				      </tr>
				      
				    </tbody>
				  </table>
				</center>
				</div>
				</div>

				
				
				<div id="manage_patient" class="tab-pane fade">
				
			        <center>

			        <h2 class="page-header" style="color:red">Manage Patient</h2>
			        </center>
			        <div class="w3-card-4" style="width:95%;padding:20px;margin:30px">
			        
			     
			       <div class="input-group" style="width:40%">
			      <input type="text" class="form-control" placeholder="Search" ng-model="searchPatient">
			      <div class="input-group-btn">
			        <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
			      </div>
			    </div>
			    </br>
			    <center>
				  <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Name</th>
					      <th>Username</th>
					      <th>Email</th>
					      <th>Action</th>

					    </tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in patientData |filter:searchPatient">
				        <td>{[{data.name}]}</td>
				        <td>{[{data.username}]}</td>
				        <td>{[{data.email}]}</td>
				        <td><button type="button" class="btn btn-danger" ng-click="deletePatient(data)">DELETE</button></td>
				      </tr>
				      
				    </tbody>
				  </table>
				</center>
				</div>
				

				</div>
				 <div id="upload_hospital" class="tab-pane fade">
			 
				 <div class="row">
			    	<div class="col-lg-12">
			   		 <center>
			    		<h2 class="page-header" style="color:yellow">Upload Hospitals</h2>
			    	</center>
			    	<div style="padding-left:90px;padding-bottom:25px;padding-top:25px;padding-right:90px">
			     	<div class="w3-card-4 w3-light-grey" style="width:100%;">
			    
  					<form name="upload_form">
  					
					<label style="margin-top:40px;margin-right: 10px;margin-left:40px; ">Name:</label>
				 	
		             <input type="text" placeholder="Hospital Name" ng-model="hospitalData.name" style="padding-right:20px;"/> 
 					
		             <label style="margin-left:115px ">City:</label> 

		             <input type="text" placeholder="city" style="margin-left:10px " ng-model="hospitalData.city">

		             <label style="margin-right: 10px;margin-left:36px; margin-top: 40px; ">Phone:</label>
		             <input type="text" placeholder="phone number" ng-model="hospitalData.phone" ng-module="hospitalData.number"/>
		              <label style="margin-left:90px;margin-right: 10px">Specialty:</label>
		             <input type="text" placeholder="specialty" ng-model="hospitalData.specialty"/>
		           
		             <label style="margin-left:21px; margin-right: 10px; ">Address:</label>
		             <textarea type="text" placeholder="address" ng-model="hospitalData.address" style="margin-top:40px "></textarea> </br>
		           
		             <input style="margin-left:110px;margin-top: 40px" 
		               type="file"
		               ngf-select
		               ng-model="file"
		               nfgName={[{hospitalName}]}
		               name="file"
		               ngf-pattern="'image/*'"
		               accept="image/*"
		               ngf-max-size="20MB"
		               />
		            
	
	
		           <center>
		            <button class="btn btn-primary btn-lg" type="button" ng-click="uploadImage()" style="margin-bottom: 30px;margin-top: 10px">Upload</button>
		           </center> 
		            </form>
		            </div>
		          </div>
		            </div>
		            </div>

			 	</div>


				<div id="change_password" class="tab-pane fade">
			  	
			        <center>

			        <h2 class="page-header" style="color:red">Change Password</h2>
			        <div class="w3-card-4" style="width:95%;padding:20px;margin:30px">
					<form ng-submit="change_password()" >
			   		<table style="width:38%">
			   	
				   		<tr>
				   	
					   		<td><label><div class="form-group">Password</div></label></td>
					    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Password" ng-model="password.password1"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">Confirm Password</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Confirm Password" ng-model="password.password2"></div></td>
					  	
			  			</tr>
			  		</table>
			  		<button type="submit" class="btn btn-default">Submit</button>
			  	</form>
			  </center>
			 </div>
			 <div id="upload_hospital" class="tab-pane fade">
			 </div>
			
		</div>
			</div>
 	</div>
</div>