
<div class="row" ng-app="myapp">
    <div class="col-lg-12" ng-controller="tabController">
		
			</br>

			<ul class="nav nav-tabs nav-justified" >
			<li class="active">

			<a data-toggle="tab" href="#home" ng-init="getAppointment()" ng-click="getAppointment()"
			 >Home</a>
			<li><a data-toggle="tab" href="#appointment" ng-click="getApprovedAppointment()">Your Appointment</a></li>
			<li><a data-toggle="tab" href="#search">Search Disease</a></li>
			
			<li><a data-toggle="tab" href="#update" ng-click="getDocData()">Update_Profile</a></li>
			<li><a data-toggle="tab" href="#change_password">Change_Password</a></li>
			</ul>
			<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
			  <center>
				<h2 class="page-header" style="color:red">New Appointment Request</h2>
			      <div class="w3-card-12" style="width:60%;padding:20px;margin:30px">
					<div class="input-group" style="width:50%">
			      		<input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
				      	<div class="input-group-btn">
				        	<button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
				     	</div>
			    	</div>
			    	</br>
			    
			     <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Name</th>
					  	  <th>Action</th>
						</tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in appointmentData |filter:searchDoctor">
				        <td>{[{data.patientName}]}</td>
				        <td>
				        	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="setAppointmentId(data._id)">Accept</button>
				      		<button type="button" class="btn btn-danger" ng-click="declineAppointment(data)">Decline</button>
				      	</td>
				      </tr>
				      
				    </tbody>
				  </table>
				  </div>
				</center>
				<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header" style="background-color:green">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <center> <h4 class="modal-title">Set Appointment</h4></center>
				        </div>
				        <div class="modal-body">
					        <label>Select Date</label>
					        </br>
					        </br>
				       		<div class="row">

				       			<div class="col-md-6">
				       	  			<p class="input-group">
					       	   		 	<input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
					       	    		<span class="input-group-btn">
					       	      			<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
					       	    		</span>

				       	  			</p>
				       			</div>
				       		</div>
				       		</br>
				       		<label>Select Time</label>
				       		</br>
				          	<div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
				          	</div>
				        	<div class="modal-footer">
				         		 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				          		 <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setAppointment()">Ok</button>
				        	</div>
				      </div>
				      
				    </div>
				  </div>
				  </div>
				  
				 

			</div>

			<div id="appointment" class="tab-pane fade">

 <center>
				<h2 class="page-header" style="color:red">Approved Appointments</h2>
			      <div class="w3-card-12" style="width:80%;padding:20px;margin:30px">
					<div class="input-group" style="width:50%">
			      		<input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
				      	<div class="input-group-btn">
				        	<button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
				     	</div>
			    	</div>
			    	</br>
			    
			     <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Patient Name</th>
					  	  <th>Doctor Name</th>
					  	  <th>Status</th>
					  	  <th>Date</th>
					  	  <th>Time</th>
						</tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in approvedAppointmentData |filter:searchDoctor">
				        <td>{[{data.patientName}]}</td>
				        <td>{[{data.doctorName}]}</td>
				        <td style="color: green">{[{data.status}]}</td>
				        <td>{[{data.date}]}</td>
				        <td>{[{data.time}]}</td>
				      
				      </tr>
				      
				    </tbody>
				  </table>
				  </div>
				</center>

			</div>

			
			<div id="search" class="tab-pane fade">

			  <div class="row">
			    <div class="col-lg-12">
			    <center>
			    <h2 class="page-header" style="color:yellow">Select Symptoms</h2>
			    </center>
			     <div class="w3-card-4 w3-light-grey">
			    
  
				 <label style="padding-left:80px;padding-bottom:25px;padding-top:45px"><div class="form-group">Symptom 1:</div></label>
					  <select class="selectpicker" data-live-search="true" name="sym1" ng-model="symptom.sym1">
					  <option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option>common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option>axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option>oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					
					<label style="padding-left:90px"><div class="form-group">Symptom 2:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym2" ng-model="symptom.sym2">
					<option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					
					</br>
					<label style="padding-left:80px;padding-bottom:25px;padding-top:25px"><div class="form-group">Symptom 3:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym3" ng-model="symptom.sym3">
					  <option></option>
					  <option>headache</option>
					<option>fever </option>
					<option>loss of appetite</option>
					<option>red color rashes</option>
					<option>scabs</option>
					<option>shivering </option>
					<option>vomitings</option>
					<option>muscle pain</option>
					<option>sweating</option>
					<option>yellowing of eyes</option>
					<option>itchiness</option>
					<option>abdominal pain</option>
					<option>joint pains</option>
					<option>swollen lymph nodes</option>
					<option>rashes</option>
					<option>chest pain</option>
					<option>high heartbeat</option>
					<option>shortness of breath</option>
					<option> fainting </option>
					<option>weight loss</option>
					<option>increased thirst</option>
					<option>increased hunger</option>
					<option>blurry vision</option>
					<option>slow healing of cuts</option>
					<option>diabetes</option>
					<option>heart valves bulging</option>
					<option>high blood pressure</option>
					<option>coronary artery disease</option>
					<option>cardiomyopathies</option>
					<option>wheezing</option>
					<option>chronic coughing</option>
					<option>trouble sleeping</option>
					<option> common cough </option>
					<option>shaking chills</option>
					<option>nosebleeds</option>
					<option>dizziness</option>
					<option>feeling anxious</option>
					<option>fast breathing</option>
					<option>low blood pressure</option>
					<option>constipation</option>
					<option>food cravings</option>
					<option>neck stiffness</option>
					<option>frequent yawning</option>
					<option>increased thirst</option>
					<option>consciousness loss </option>
					<option>loss of control</option>
					<option>change in sensation</option>
					<option>brain inflammation</option>
					<option>severe pains</option>
					<option>redness</option>
					<option>swelling</option>
					<option>membranes inflammation</option>
					<option>food allergy</option>
					<option>skin rash</option>
					<option>swelling </option>
					<option>dry mouth</option>
					<option>aching head pain</option>
					<option> pressure on  forehead </option>
					<option>tenderness on scalp</option>
					<option>irritability</option>
					<option>muscle aching</option>
					<option>dry cough</option>
					<option>flu</option>
					<option>fatigue</option>
					<option>yellow skin</option>
					<option>diarrhea</option>
					<option>dehydration</option>
					<option>high fever </option>
					<option>conjunctivitis</option>
					<option>abdominal cramps</option>
					<option>excessive gas</option>
					<option>appetite loss</option>
					<option>back pain</option>
					<option>joints pain </option>
					<option>abdomen pain</option>
					<option>skin exfoliation</option>
					<option>limb swelling</option>
					<option> axillary lymphadenopathy</option>
					<option>irreversible lymphedema</option>
					<option>difficulty speaking</option>
					<option>hearing  noises </option>
					<option>limb weakness</option>
					<option>blurred vision</option>
					<option>red eyes</option>
					<option>sore throat</option>
					<option>muscle aches</option>
					<option>nasal discharge</option>
					<option>long coughing</option>
					<option>wheezy breathing </option>
					<option>forgetting things</option>
					<option>misplacing</option>
					<option>memory loss</option>
					<option>forgets names</option>
					<option>problems with sleep</option>
					<option>yellow patches</option>
					<option>flushed face</option>
					<option>low fever</option>
					<option>body aches</option>
					<option>large sores</option>
					<option>red area in your mouth</option>
					<option>tingling sensation</option>
					<option> oval-shaped ulcer</option>
					<option>heaviness</option>
					<option>indigestion</option>
					<option>pressure</option>
					<option>sinus infections</option>
					<option>excess mucus</option>
					<option>colds</option>
					<option>allergies</option>
					<option>allergies</option>
					<option>swollen adenoids</option>
					<option>short term memory</option>
					<option>impaired communication</option>
					<option>inability to focus</option>
					<option>visual perception loss</option>
					<option>impaired  judgment</option>
					<option>behavioral changes</option>
					<option>poor memory</option>
					<option> visual loss</option>
					<option> learning disabilities</option>
					<option> deafness</option>
					</select>
					<label style="padding-left:90px"><div class="form-group">Symptom 4:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym4" ng-model="symptom.sym4">
					 <option></option>
					 <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					<label style="padding-left:80px;padding-bottom:25px;padding-top:25px"><div class="form-group">Symptom 5:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym5" ng-model="symptom.sym5">
					  <option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					<center>
					<button type="button" class="btn btn-primary btn-lg" ng-click="search()" ng-disabled="disabled">Search</button>
					</center>
					<h4 style="color:green;padding:30px">{[{disease}]}</h4>
				 </div>   
				
			</div>
			
			</div>
			</div>
			
			



			<div id="update" class="tab-pane fade">
			  <div class="row">
			    <div class="col-lg-12">
			        <center>

			        <h2 class="page-header">Update Profile</h2>

					<form ng-submit="save()" >
			   		<table style="width:40%">
			   	
				   		<tr>
				   	
					   		<td><label><div class="form-group">NAME</div></label></td>
					    	<td><div class="form-group"><input type="text" class="form-control"  name="name" placeholder="Name" ng-model="data.name"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">USERNAME</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="text" class="form-control" placeholder="Username" ng-model="data.username" name="username"></div></td>
					  	
			  			</tr>
			  			<tr>
				
						    <td><label><div class="form-group">EMAIL</label></div></td>
						    <td><div class="form-group"><input type="email" class="form-control" placeholder="Email" ng-model="data.email" name="email"></div><td>
						  	
					  	</tr>

					  	<tr>
					  	<td><label>Gender</label></td>
					  	<td>
					  		<div class="form-group" style="width:160%">
					  		<select class="selectpicker" name="user_gender" >
				  			<option value="Male">MALE</option>
				  			<option value="Female">FEMALE</option>
				  			</select>
				  			</div>	  			
						</td>
			  			<tr>

			 	
						    <td><div class="form-group"><label>SPECIALTY</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Specialty" name="specialty"
						    ng-model="data.specialty"></div></td>
					  	
			  	
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>LOCATION</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Location" name="location"
						    ng-model="data.location"></div></td>
						  	</div>
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>NATIONALITY</label></div></td>
						    <td><div class="form-group"><input type="text" class="form-control" placeholder="Nationality" name="nationality" ng-model="data.nationality"></div></td>
						  	</div>
			  			</tr>
			  			<tr>

			  	
						    <td><div class="form-group"><label>QUALIFICATION</label></div></td>
						    <td><div class="form-group"><textarea class="form-control" rows="5" name="qualification" ng-model="data.qualification"></textarea></div></td>
						  	</div>
			  			</tr>
			  			</table>
						  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			    </center>
			   </div>
             </div>
			</div>
		<div id="change_password" class="tab-pane fade">
			  <div class="row">
			    <div class="col-lg-12">
			        <center>

			        <h2 class="page-header">Change Password</h2>

					<form ng-submit="change_password()" >
			   		<table style="width:38%">
			   		   		<tr>
			   		   	
			   			   		<td><label><div class="form-group">Current Password</div></label></td>
			   			    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Current Password" ng-model="password.currentPassword" ng-blur="checkPassword()"></div></td>
			   		    		<p ng-if="passwordStatus==0" class="help-block" style="color:red">Incorrect Password</p>
			   		   		 </tr>
				   		<tr>
				   	
					   		<td><label><div class="form-group">Password</div></label></td>
					    	<td><div class="form-group"><input type="text" class="form-control" placeholder="Password" ng-model="password.password1"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">Confirm Password</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="text" class="form-control" placeholder="Confirm Password" ng-model="password.password2"></div></td>
					  		<p ng-if="passwordStatus==3" class="help-block" style="color:red">password does not match</p>
			  			</tr>
			  		</table>
			  		<button type="submit" class="btn btn-default">Submit</button>
			  	</form>
			  </center>
			 </div>
			</div>
		</div>

 	</div>
 </div>
 </div>
  