<div class="row">
        <center>
        <br>
        <hr>
        <h1 style="color:red">SMART HEALTH CARE SYSTEM</h1>
        <hr>
        
        </center>
        
            <div class="col-sm-8" style="padding-top: 35px">
                <div class="w3-card-4 w3-light-grey" style="padding: 20px">
                <center>
                <h2 >What We Offer</h2>
                </center>

                <p>
                We provide a interface where user can select their symptom and based upon that symptom we try to predict the disease that the user is suffering from.</p>
                <p style="padding-bottom:  15px"> User can request for appointment with registerd Doctors and also search Hospitals.</p>
               
            </div>
            </div>
            <div class="col-sm-4" style="padding-top: 35px">
            <div class="w3-card-4 w3-light-grey" style="padding: 20px">
                <center>
                <h2 style="color:yellow">Contact Us</h2>
                </center>
                <address>
                    <strong>Smart Health Prediction</strong>
                   <br>
                </address>
                <address>
                    <abbr title="Phone">Phone:</abbr>9493406867
                    <br>
                    <abbr title="Email">Email:</abbr> <a href="mailto:#">smarthealthcaresystem@gmail.com</a>
                </address>
            </div>
            </div>
        </div>

   