
<div class="row" ng-app="mypatient">
    <div class="col-lg-12" ng-controller="patientController">
		
			</br>

			<ul class="nav nav-tabs nav-justified">
			<li class="active">

			<a data-toggle="tab" href="#home" ng-init="getAppointmentStatus()" ng-click="getAppointmentStatus()">Home</a></li>

			
			<li><a data-toggle="tab" href="#search">Search</a></li>
			<li><a data-toggle="tab" href="#searchdoctor" ng-click="getDoctorData()">Search Doctor</a></li>
			<li><a data-toggle="tab" href="#change_password">Change Password</a></li>
			</ul>
			<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
			  <center>

			        <h2 class="page-header" style="color:red">Appointment Status</h2>
			       
			     <div class="w3-card-12" style="width:80%;padding:20px;margin:30px">

			       <div class="input-group" style="width:30%">
			      <input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
			      <div class="input-group-btn">
			        <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
			      </div>
			    </div>
			    </br>
			    
			     <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Patient Name</th>
					      <th>Doctor Name</th>
					      <th>Status</th>
					      <th>Date</th>
					      <th>Time</th>
					  	 <th>Action</th>

					    </tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in appointmentStatus |filter:searchDoctor">
				        <td>{[{data.patientName}]}</td>
				        <td>{[{data.doctorName}]}</td>
				        <td style="color:green">{[{data.status}]}</td>
				        <td>{[{data.date}]}</td>
				        <td>{[{data.time}]}</td>
				        <td><button type="button" class="btn btn-danger" ng-click="deleteAppointment(data)">Delete</button>
				     
				      </tr>
				      
				    </tbody>
				  </table>
				</center>
			</div>
			
			<div id="search" class="tab-pane fade">
			<div class="row">
			    <div class="col-lg-12">
			    <center>
			    <h2 class="page-header" style="color:yellow">Select Symptoms</h2>
			    </center>
			     <div class="w3-card-4 w3-light-grey">
			    
  
				 <label style="padding-left:80px;padding-bottom:25px;padding-top:45px"><div class="form-group">Symptom 1:</div></label>
					  <select class="selectpicker" data-live-search="true" name="sym1" ng-model="symptom.sym1">
					  <option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					
					<label style="padding-left:90px"><div class="form-group">Symptom 2:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym2" ng-model="symptom.sym2">
					 <option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					
					</br>
					<label style="padding-left:80px;padding-bottom:25px;padding-top:25px"><div class="form-group">Symptom 3:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym3" ng-model="symptom.sym3">
					  <option></option>
					  <option>headache</option>
					<option>fever </option>
					<option>loss of appetite</option>
					<option>red color rashes</option>
					<option>scabs</option>
					<option>shivering </option>
					<option>vomitings</option>
					<option>muscle pain</option>
					<option>sweating</option>
					<option>yellowing of eyes</option>
					<option>itchiness</option>
					<option>abdominal pain</option>
					<option>joint pains</option>
					<option>swollen lymph nodes</option>
					<option>rashes</option>
					<option>chest pain</option>
					<option>high heartbeat</option>
					<option>shortness of breath</option>
					<option> fainting </option>
					<option>weight loss</option>
					<option>increased thirst</option>
					<option>increased hunger</option>
					<option>blurry vision</option>
					<option>slow healing of cuts</option>
					<option>diabetes</option>
					<option>heart valves bulging</option>
					<option>high blood pressure</option>
					<option>coronary artery disease</option>
					<option>cardiomyopathies</option>
					<option>wheezing</option>
					<option>chronic coughing</option>
					<option>trouble sleeping</option>
					<option> common cough </option>
					<option>shaking chills</option>
					<option>nosebleeds</option>
					<option>dizziness</option>
					<option>feeling anxious</option>
					<option>fast breathing</option>
					<option>low blood pressure</option>
					<option>constipation</option>
					<option>food cravings</option>
					<option>neck stiffness</option>
					<option>frequent yawning</option>
					<option>increased thirst</option>
					<option>consciousness loss </option>
					<option>loss of control</option>
					<option>change in sensation</option>
					<option>brain inflammation</option>
					<option>severe pains</option>
					<option>redness</option>
					<option>swelling</option>
					<option>membranes inflammation</option>
					<option>food allergy</option>
					<option>skin rash</option>
					<option>swelling </option>
					<option>dry mouth</option>
					<option>aching head pain</option>
					<option> pressure on  forehead </option>
					<option>tenderness on scalp</option>
					<option>irritability</option>
					<option>muscle aching</option>
					<option>dry cough</option>
					<option>flu</option>
					<option>fatigue</option>
					<option>yellow skin</option>
					<option>diarrhea</option>
					<option>dehydration</option>
					<option>high fever </option>
					<option>conjunctivitis</option>
					<option>abdominal cramps</option>
					<option>excessive gas</option>
					<option>appetite loss</option>
					<option>back pain</option>
					<option>joints pain </option>
					<option>abdomen pain</option>
					<option>skin exfoliation</option>
					<option>limb swelling</option>
					<option> axillary lymphadenopathy</option>
					<option>irreversible lymphedema</option>
					<option>difficulty speaking</option>
					<option>hearing  noises </option>
					<option>limb weakness</option>
					<option>blurred vision</option>
					<option>red eyes</option>
					<option>sore throat</option>
					<option>muscle aches</option>
					<option>nasal discharge</option>
					<option>long coughing</option>
					<option>wheezy breathing </option>
					<option>forgetting things</option>
					<option>misplacing</option>
					<option>memory loss</option>
					<option>forgets names</option>
					<option>problems with sleep</option>
					<option>yellow patches</option>
					<option>flushed face</option>
					<option>low fever</option>
					<option>body aches</option>
					<option>large sores</option>
					<option>red area in your mouth</option>
					<option>tingling sensation</option>
					<option> oval-shaped ulcer</option>
					<option>heaviness</option>
					<option>indigestion</option>
					<option>pressure</option>
					<option>sinus infections</option>
					<option>excess mucus</option>
					<option>colds</option>
					<option>allergies</option>
					<option>allergies</option>
					<option>swollen adenoids</option>
					<option>short term memory</option>
					<option>impaired communication</option>
					<option>inability to focus</option>
					<option>visual perception loss</option>
					<option>impaired  judgment</option>
					<option>behavioral changes</option>
					<option>poor memory</option>
					<option> visual loss</option>
					<option> learning disabilities</option>
					<option> deafness</option>
					</select>
					<label style="padding-left:90px"><div class="form-group">Symptom 4:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym4" ng-model="symptom.sym4">
					 <option></option>
					 <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					<label style="padding-left:80px;padding-bottom:25px;padding-top:25px"><div class="form-group">Symptom 5:</div></label>
					<select class="selectpicker" data-live-search="true" name="sym5" ng-model="symptom.sym5">
					  <option></option>
					  <option>headache</option>
						<option>fever </option>
						<option>loss of appetite</option>
						<option>red color rashes</option>
						<option>scabs</option>
						<option>shivering </option>
						<option>vomitings</option>
						<option>muscle pain</option>
						<option>sweating</option>
						<option>yellowing of eyes</option>
						<option>itchiness</option>
						<option>abdominal pain</option>
						<option>joint pains</option>
						<option>swollen lymph nodes</option>
						<option>rashes</option>
						<option>chest pain</option>
						<option>high heartbeat</option>
						<option>shortness of breath</option>
						<option> fainting </option>
						<option>weight loss</option>
						<option>increased thirst</option>
						<option>increased hunger</option>
						<option>blurry vision</option>
						<option>slow healing of cuts</option>
						<option>diabetes</option>
						<option>heart valves bulging</option>
						<option>high blood pressure</option>
						<option>coronary artery disease</option>
						<option>cardiomyopathies</option>
						<option>wheezing</option>
						<option>chronic coughing</option>
						<option>trouble sleeping</option>
						<option> common cough </option>
						<option>shaking chills</option>
						<option>nosebleeds</option>
						<option>dizziness</option>
						<option>feeling anxious</option>
						<option>fast breathing</option>
						<option>low blood pressure</option>
						<option>constipation</option>
						<option>food cravings</option>
						<option>neck stiffness</option>
						<option>frequent yawning</option>
						<option>increased thirst</option>
						<option>consciousness loss </option>
						<option>loss of control</option>
						<option>change in sensation</option>
						<option>brain inflammation</option>
						<option>severe pains</option>
						<option>redness</option>
						<option>swelling</option>
						<option>membranes inflammation</option>
						<option>food allergy</option>
						<option>skin rash</option>
						<option>swelling </option>
						<option>dry mouth</option>
						<option>aching head pain</option>
						<option> pressure on  forehead </option>
						<option>tenderness on scalp</option>
						<option>irritability</option>
						<option>muscle aching</option>
						<option>dry cough</option>
						<option>flu</option>
						<option>fatigue</option>
						<option>yellow skin</option>
						<option>diarrhea</option>
						<option>dehydration</option>
						<option>high fever </option>
						<option>conjunctivitis</option>
						<option>abdominal cramps</option>
						<option>excessive gas</option>
						<option>appetite loss</option>
						<option>back pain</option>
						<option>joints pain </option>
						<option>abdomen pain</option>
						<option>skin exfoliation</option>
						<option>limb swelling</option>
						<option> axillary lymphadenopathy</option>
						<option>irreversible lymphedema</option>
						<option>difficulty speaking</option>
						<option>hearing  noises </option>
						<option>limb weakness</option>
						<option>blurred vision</option>
						<option>red eyes</option>
						<option>sore throat</option>
						<option>muscle aches</option>
						<option>nasal discharge</option>
						<option>long coughing</option>
						<option>wheezy breathing </option>
						<option>forgetting things</option>
						<option>misplacing</option>
						<option>memory loss</option>
						<option>forgets names</option>
						<option>problems with sleep</option>
						<option>yellow patches</option>
						<option>flushed face</option>
						<option>low fever</option>
						<option>body aches</option>
						<option>large sores</option>
						<option>red area in your mouth</option>
						<option>tingling sensation</option>
						<option> oval-shaped ulcer</option>
						<option>heaviness</option>
						<option>indigestion</option>
						<option>pressure</option>
						<option>sinus infections</option>
						<option>excess mucus</option>
						<option>colds</option>
						<option>allergies</option>
						<option>allergies</option>
						<option>swollen adenoids</option>
						<option>short term memory</option>
						<option>impaired communication</option>
						<option>inability to focus</option>
						<option>visual perception loss</option>
						<option>impaired  judgment</option>
						<option>behavioral changes</option>
						<option>poor memory</option>
						<option> visual loss</option>
						<option> learning disabilities</option>
						<option> deafness</option>
					</select>
					<center>
					<button type="button" class="btn btn-primary btn-lg" ng-click="search()">Search</button>
					</center>
					<h4 style="color:green;padding:30px">{[{disease}]}</h4>
				 </div>   
				
			</div>
			
			</div>
			</div>


			<div id="searchdoctor" class=tab-pane fade">
				
				<div class="row">
			    <div class="col-lg-12">
			    

			        <center>

			        <h2 class="page-header" style="color:red">Search Doctor</h2>
			        </center>
			        </br>
			        
			     
			       <div class="input-group" style="width:40%">
			      <input type="text" class="form-control" placeholder="Search" ng-model="searchDoctor">
			      <div class="input-group-btn">
			        <button class="btn btn-default" disabled="disabled"><i class="glyphicon glyphicon-search"></i></button>
			      </div>
			    </div>
			    </br></br>
			       <center>
				  <table class="table table-striped">
					  <thead class="thead-inverse">
					    <tr>
					      <th>Name</th>
					      <th>Email</th>
					      <th>Location</th>
					      <th>Specialty</th>
					      <th>Qualification</th>
					      <th>Action</th>

					    </tr>
					  </thead>
					<tbody>
				      <tr ng-repeat="data in doctorData |filter:searchDoctor">
				        <td>{[{data.name}]}</td>
				        <td>{[{data.email}]}</td>
				        <td>{[{data.location}]}</td>
				        <td>{[{data.specialty}]}</td>
				        <td>{[{data.qualification}]}</td>
				        <td><button type="button" class="btn btn-success" ng-click="reqAppointment(data)">Request Appointment</button></td>
				      </tr>
				      
				    </tbody>
				  </table>
				</center>
				</div>
				</div>

			


			</div>



			<div id="change_password" class="tab-pane fade">
			  <div class="row">
			    <div class="col-lg-12">
			        <center>

			        <h2 class="page-header" style="color:yellow">Change Password</h2>

					<form ng-submit="change_password()" >
			   		<table style="width:38%">
			   	
				   		<tr>
				   	
					   		<td><label><div class="form-group">Password</div></label></td>
					    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Password" ng-model="password.password1"></div></td>
				    
				   		 </tr>
				  	
				  		<tr>
			  	
					    	<td>
					    	<label><div class="form-group">Confirm Password</div></label>
					    	</td>
					    	<td><div class="form-group"><input type="password" class="form-control" placeholder="Confirm Password" ng-model="password.password2"></div></td>
					  	
			  			</tr>
			  		</table>
			  		<button type="submit" class="btn btn-default">Submit</button>
			  	</form>
			  </center>
			 </div>
			</div>
		</div>

			
		
 	</div>
 </div>
 </div>