<div ng-app="register" ng-controller="registerController" ng-init="getCaptcha()">

<div class="row">  
   <center>

	<h2 class="page-header" style="color:red">Register</h2>  </center>

    <!-- FORM ============ -->
    {{success_msg}}
  <div class="w3-card-12" style="width:40%;padding:20px;margin-left:30%">
    <form name="userForm" ng-submit="register()" novalidate>

        <!-- NAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Full Name" required>
            <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
        </div>
      
        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="5" placeholder="Unique UserName" username-Available ng-model-options="{ updateOn: 'blur' }" required>
            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="userForm.username.$error.usernameExists" class="help-block">username already exists</p>
        </div>
        
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
        <!-- EMAIL -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.contact.$invalid && !userForm.contact.$pristine }">
            <label>Contact Number</label>
            <input type="text" placeholder="mobile number" ng-pattern="/^[0-9]{10,10}$/" name="contact" class="form-control" ng-model="user.contact" ng-minlength="10" ng-maxlength="10" required >
            <p ng-show="userForm.contact.$invalid && !userForm.contact.$pristine && !userForm.username.$error.minlength && !userForm.username.$error.maxlength" &&!userForm.username.$error.pattern class="help-block">enter 10 digit number</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : userForm.user_type.$invalid && !userForm.user_type.$pristine }">
        <label>Register_As</label> </br>
        <select class="selectpicker" name="user_type" ng-model="user.user_type" required>
        			<option></option>
					<option>Doctor</option>
					<option>Patient</option>
        </select>
        <p ng-show="userForm.user_type.$invalid && !userForm.user_type.$pristine" class="help-block">Select One</p>
        </div>
        <div ng-if="user.user_type=='Doctor'" ng-class="{ 'has-error' : userForm.regno.$invalid && !userForm.regno.$pristine }">
        <label>Registration Number</label>
            <input type="string" placeholder="goverment registration number" name="regno" class="form-control" ng-model="user.regno" required>
            <p ng-show="userForm.regno.$invalid && !userForm.regno.$pristine" class="help-block">registration number is required</p>
        </div>


          <div class="form-group" ng-class="{ 'has-error' : userForm.password1.$invalid && !userForm.password1.$pristine }">
            <label>Password</label>
            <input type="password" name="password1" placeholder="password" class="form-control" ng-model="user.password"  ng-minlength="5" required>
            <p ng-show="userForm.password1.$error.minlength" class="help-block">Password is too short.</p>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.captcha.$invalid && !userForm.captcha.$pristine}">
            <label>Captcha</label>
            <input type="text" name="captcha" placeholder="enter the below text" class="form-control" ng-model="user.captchas" ng-keyup="checkCaptcha()" required>
            <p ng-if="status==0" class="help-block" style="color:red">enter correct value</p>
        </div>
        <div class="form-group">

           <center> <label> {[{captcha}]}</label</center>
  </div>
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid || status==0">Submit</button>
       
    </form>
  </div>
  <center>
  </br>
  <a href="/" style="color: green"><span class="glyphicon glyphicon-user"></span> Alreagy a User: LogIn </a></li>
  </center>
  </div>
  </div>
  </div>

  